# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# dotenv environment variables
.env
.env.test

# Docker
docker-compose.override.yml
Dockerfile

# Miscellaneous
.DS_Store
*.swp
