* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --azul-escuro: #041833;
  --azul-medio: #446ca2;
  --azul-claro: #dae8fa;
  --cor-fonte-principal: #041833;
  --cor-fonte-post: #444444;
  --branco: #FFF;
  --amarelo: #e2a315;
  --fonte-principal: 'Roboto', sans-serif;
  --fonte-secundaria: 'Roboto', sans-serif;

  font-family: var(--fonte-secundaria);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 800;
  font-family: var(--fonte-principal);
}

h1{
 font-size: 4rem;
}
